/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* Reset code */
body{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    background: #daf0f080;
}